* {
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.body {
  color: white;
  background-color: rgb(10, 10, 10);
  padding: 40px 0;
}
ul {
  display: flex;
  overflow-y: scroll;
  padding: 20px;
  padding-left: 4%;
}
ul::-webkit-scrollbar {
  display: none;
}
ul li {
  list-style: none;
  margin-right: 12px;
  cursor: pointer;
}
ul li:last-child {
  margin-right: 50%;
}
ul li img {
  object-fit: contain;
  width: 300px;
  transition: transform 450ms;
  border-radius: 6px;
}

li:hover img {
  transform: scale(1.08);
}

.large img {
  width: 250px;
}

.body h2 {
  margin-left: 4%;
  margin-bottom: 10px;
}
.genre {
  padding-top: 50px;
}




.gradirent {
  background-image: linear-gradient(180deg, transparent, rgba(10, 10, 10, 0.775), rgb(10, 10, 10));
  height: 100px;
  margin-top: -100px;
  z-index: 10;
}





.header {
  height: 68vh;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  transition: all 500ms;
  overflow: hidden;
}
.content {
  color: white;
  display: flex;
  align-items: center;
  height: 100%;
}
.content div {
  margin-left: 4%;
}
.content img {
  width: 40%;
}
.content h1 {
  margin: 10px 0;
  margin-top: 40px;
}
.content p {
  max-width: 50%;
  margin: 0;
  margin-top: 10px;
}
